{% extends 'base.html' %}


{% block body %}
<div class="content">
    {% if not tasks %} <h2>There are no tasks!</h2>
        {% else %}
        <table>
            <tr>
                <th>ID</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.content}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a> | <a href="/edit/{{task.id}}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action="/" method="post">
            <input type="text" name="content" id="content" placeholder="Enter your new task">
            <input type="submit" value="Add Task">
        </form>
</div>
{% endblock %}